.container{
    min-width: 300px;
    max-width: 450px;
    min-height: fit-content;
    max-height: fit-content;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(204, 204, 204);
}
h1{
    color: rgb(78, 78, 78);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1::after{
    display: inline-block;
    width: 100px;
    /* max-width: 240px; */
    content: '';
    position: absolute;
    border-bottom: 1px solid rgb(77, 76, 76);
    top:10%; 
    left: 20px; 
}
h1::before{
    display: inline-block;                  
    width: 100px;
    /* max-width: 240px;                 */
    content: '';                     
    position: absolute;              
    border-bottom: 1px solid rgb(77, 76, 76);   
    top:10%;                         
    right: 20px;
}
p{
    color: rgb(78, 78, 78);
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
input{
    margin-top: 15px;
    height: 25px;
    width: calc( 100% - 10px );
    padding: 5px;
}
button{
    margin-top: 15px;
    margin-bottom: 35px;
    background-color: rgb(16, 172, 16);
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    border-radius: 5px;
}
input[type='radio'] {
    box-sizing: border-box;
    appearance: none;
    /* background: white; */
    outline: 1px solid #333;
    border: 3px solid white;
    border-radius: 2px;
    width: 12px;
    height: 12px;
  }
  
  input[type='radio']:checked {
    background: rgb(24, 182, 3);
  }
  a{
      color: rgb(42, 207, 42);
  }